h1{
    font-family: 'Sukhumvit Set';
    font-style: italic;
    color: black;
}

h2{
    font-family: 'Sukhumvit Set';
    font-style: italic;
    color: black;
}

h3{
    font-family: 'Sukhumvit Set';
    font-style: italic;
    color: black;
}

#BodyBG{
    background-color: rgb(243, 194, 61);
    display: flex;
    flex-direction: column;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
}

a{
    font-family: 'Sukhumvit Set';
    font-size: 25px;
    font-style: italic;
}

#HeaderBG{
    background-color: wheat;
    display: flex;
    flex-direction: column;
}