h1{
    background-color: rgb(41, 41, 41);
    font-family: 'Sukhumvit set';
    font-style: italic;
    color: white;
}
h2{
    font-family: 'Sukhumvit set';
    font-style: italic;
    color: black;
}

h3{
    font-family: 'Sukhumvit set';
    font-style: italic;
    color: black;
}

#BG{
    background-color: wheat;
    display: flex;
    flex-direction: column;
}

p{
    font-family: 'Sukhumvit set';
    font-size: 20px;
    font-style: italic;
    background-color: rgb(122, 122, 122);
    color: rgb(255, 255, 255);
}

a{
    font-family: 'Sukhumvit set';
    font-size: 25px;
    font-style: italic;
}