body{
    background-color: pink;
}

h1{
    color: red;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

h2{
    color:blue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
p{
    font-style: italic;
}

#l1{
    color:red;
}

.l2{
    color:brown;
    text-decoration:underline;
}

