body{
    background-image: url("BG.jpeg");
    background-repeat: repeat;
}

h1{
    color: red;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    color:blue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
p{
    font-style: italic;
    font-size: 20px;
}

#l1{
    color:red;
}

.l2{
    color: red;
    
}

