body{
    background-image: url("messi.jpeg");
}

h1{
    font-family: sukhumvit set;
    text-align: center;
    color: black;
}

img{
    width: 200px;
    height: 200px
}

.button{
    background-color: rgba(214, 214, 214, 0.842);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
    border-radius: 15px;
    box-shadow: #9c9c9c;
}