body {
    background-image: url("psu.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    color: white;
    font-family: sukhumvit set;
    text-shadow: 2px 2px 4px #757474;
    text-align: center;
}

td{
    background-color: rgba(0, 255, 255, 0.589);
    align-content: center;
    font-family: sukhumvit set;
    font-size: 15px;
    text-align: center;
    height: 50px;
    width: 100px;
}


